{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        <div class="testMessage">
            Zostałeś pomyślnie zarejestrowany. Możesz się teraz
            <a href="{{ path('login') }}">Zalogować</a>
        </div>
    </div>

{% endblock %}