{% extends 'base.html.twig' %}


{% block body %}
    <a class="btn btn-default" href="{{ path('showproducts') }}">Powrót</a>
    <hr>
    {{ form_start(editForm) }}
    {{ form_end(editForm) }}
{% endblock %}